<?xml version='1.0' encoding='utf-8'?>
<robot name="LRS-X2URDF">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/base_link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <link name="waist_yaw_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/waist_yaw_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="waist_yaw_Joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="waist_yaw_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.71" upper="2.71" effort="90" velocity="315" />
  </joint>
  <link name="waist_roll_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/waist_roll_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="waist_roll_Joint" type="revolute">
    <origin xyz="0 -1.9533E-05 0.041" rpy="0 0 0" />
    <parent link="waist_yaw_Link" />
    <child link="waist_roll_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.52" upper="0.52" effort="25" velocity="300" />
  </joint>
  <link name="waist_pitch_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/waist_pitch_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="waist_pitch_Joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_roll_Link" />
    <child link="waist_pitch_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.79" upper="0.79" effort="25" velocity="300" />
  </joint>
  <link name="head_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/head_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="head_Joint" type="revolute">
    <origin xyz="-0.001747 0 0.28638" rpy="0 0 0" />
    <parent link="waist_pitch_Link" />
    <child link="head_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.57" upper="1.57" effort="25" velocity="300" />
  </joint>
  <link name="left_handpitch_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_handpitch_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_handpitch_Joint" type="revolute">
    <origin xyz="-1.4518E-05 0.1136 0.22528" rpy="0 0 0" />
    <parent link="waist_pitch_Link" />
    <child link="left_handpitch_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.05" upper="2.62" effort="25" velocity="300" />
  </joint>
  <link name="left_handroll_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_handroll_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_handroll_Joint" type="revolute">
    <origin xyz="0.027515 0.044 -0.012014" rpy="0 0 0" />
    <parent link="left_handpitch_Link" />
    <child link="left_handroll_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.35" upper="2.18" effort="25" velocity="300" />
  </joint>
  <link name="left_handyaw_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_handyaw_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_handyaw_Joint" type="revolute">
    <origin xyz="-0.0275 -1.4394E-05 -0.10459" rpy="0 0 0" />
    <parent link="left_handroll_Link" />
    <child link="left_handyaw_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.62" upper="2.62" effort="25" velocity="300" />
  </joint>
  <link name="left_handelbow_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_handelbow_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_handelbow_Joint" type="revolute">
    <origin xyz="0.011985 0.027515 -0.1057" rpy="0 0 0" />
    <parent link="left_handyaw_Link" />
    <child link="left_handelbow_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.05" upper="1.00" effort="25" velocity="300" />
  </joint>
  <link name="left_handwrist_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_handwrist_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_handwrist_Joint" type="revolute">
    <origin xyz="0.10971 -0.0275 -0.012014" rpy="0 0 0" />
    <parent link="left_handelbow_Link" />
    <child link="left_handwrist_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.62" upper="2.62" effort="25" velocity="300" />
  </joint>
  <link name="right_handpitch_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_handpitch_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_handpitch_Joint" type="revolute">
    <origin xyz="-1.4518E-05 -0.1136 0.22528" rpy="0 0 0" />
    <parent link="waist_pitch_Link" />
    <child link="right_handpitch_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.05" upper="2.62" effort="25" velocity="300" />
  </joint>
  <link name="right_handroll_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_handroll_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_handroll_Joint" type="revolute">
    <origin xyz="0.027515 -0.043 -0.012014" rpy="0 0 0" />
    <parent link="right_handpitch_Link" />
    <child link="right_handroll_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.18" upper="0.35" effort="25" velocity="300" />
  </joint>
  <link name="right_handyaw_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_handyaw_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_handyaw_Joint" type="revolute">
    <origin xyz="-0.0275 1.4394E-05 -0.10459" rpy="0 0 0" />
    <parent link="right_handroll_Link" />
    <child link="right_handyaw_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.62" upper="2.62" effort="25" velocity="300" />
  </joint>
  <link name="right_handelbow_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_handelbow_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_handelbow_Joint" type="revolute">
    <origin xyz="0.011985 -0.027515 -0.1057" rpy="0 0 0" />
    <parent link="right_handyaw_Link" />
    <child link="right_handelbow_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.05" upper="1.00" effort="25" velocity="300" />
  </joint>
  <link name="right_handwrist_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_handwrist_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_handwrist_Joint" type="revolute">
    <origin xyz="0.10971 0.0275 -0.012014" rpy="0 0 0" />
    <parent link="right_handelbow_Link" />
    <child link="right_handwrist_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.62" upper="2.62" effort="25" velocity="300" />
  </joint>
  <link name="left_hippitch_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_hippitch_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_hippitch_Joint" type="revolute">
    <origin xyz="0 0.07298 -0.1131" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_hippitch_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.69" upper="2.69" effort="140" velocity="200" />
  </joint>
  <link name="left_hiproll_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_hiproll_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_hiproll_Joint" type="revolute">
    <origin xyz="0.019 0.05008 -0.036909" rpy="0 0 0" />
    <parent link="left_hippitch_Link" />
    <child link="left_hiproll_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.52" upper="2.97" effort="90" velocity="315" />
  </joint>
  <link name="left_hipyaw_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_hipyaw_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_hipyaw_Joint" type="revolute">
    <origin xyz="-0.016491 0 -0.066991" rpy="0 0 0" />
    <parent link="left_hiproll_Link" />
    <child link="left_hipyaw_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.76" upper="2.76" effort="90" velocity="315" />
  </joint>
  <link name="left_knee_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_knee_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_knee_Joint" type="revolute">
    <origin xyz="-0.0025064 0.02402 -0.21064" rpy="0 0 0" />
    <parent link="left_hipyaw_Link" />
    <child link="left_knee_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.09" upper="2.53" effort="140" velocity="200" />
  </joint>
  <link name="left_anklepitch_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_anklepitch_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_anklepitch_Joint" type="revolute">
    <origin xyz="0.014 -0.024 -0.3225" rpy="0 0 0" />
    <parent link="left_knee_Link" />
    <child link="left_anklepitch_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.52" upper="0.87" effort="25" velocity="300" />
  </joint>
  <link name="left_ankleroll_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/left_ankleroll_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="left_ankleroll_Joint" type="revolute">
    <origin xyz="0 0 -0.0165" rpy="0 0 0" />
    <parent link="left_anklepitch_Link" />
    <child link="left_ankleroll_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.26" upper="0.26" effort="25" velocity="300" />
  </joint>
  <link name="right_hippitch_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_hippitch_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_hippitch_Joint" type="revolute">
    <origin xyz="0 -0.07302 -0.1131" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_hippitch_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.69" upper="2.69" effort="140" velocity="200" />
  </joint>
  <link name="right_hiproll_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_hiproll_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_hiproll_Joint" type="revolute">
    <origin xyz="0.01543 -0.055401 -0.031402" rpy="0 0 0" />
    <parent link="right_hippitch_Link" />
    <child link="right_hiproll_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.97" upper="0.52" effort="90" velocity="315" />
  </joint>
  <link name="right_hipyaw_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_hipyaw_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint name="right_hipyaw_Joint" type="revolute">
    <origin xyz="-0.012921 0.0052819 -0.072498" rpy="0 0 0" />
    <parent link="right_hiproll_Link" />
    <child link="right_hipyaw_Link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.76" upper="2.76" effort="90" velocity="315" />
  </joint>
  <link name="right_knee_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_knee_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
  </link>
  <joint name="right_knee_Joint" type="revolute">
    <origin xyz="-0.0025064 -0.02398 -0.21064" rpy="0 0 0" />
    <parent link="right_hipyaw_Link" />
    <child link="right_knee_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.09" upper="2.53" effort="140" velocity="200" />
  </joint>
  <link name="right_anklepitch_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_anklepitch_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint name="right_anklepitch_Joint" type="revolute">
    <origin xyz="0.014 0.024 -0.3225" rpy="0 0 0" />
    <parent link="right_knee_Link" />
    <child link="right_anklepitch_Link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.52" upper="0.87" effort="25" velocity="300" />
  </joint>
  <link name="right_ankleroll_Link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://lrs-x/meshes/right_ankleroll_Link.glb" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
  </link>
  <joint name="right_ankleroll_Joint" type="revolute">
    <origin xyz="0 0 -0.0165" rpy="0 0 0" />
    <parent link="right_anklepitch_Link" />
    <child link="right_ankleroll_Link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.26" upper="0.26" effort="25" velocity="300" />
  </joint>
</robot>